body {
  background-color: #f8f8f8;
  font-family: 'Lato';
}

h2,h3 {
  font-family: 'Dosis';
  font-weight: 100;
  letter-spacing: 5px;
}

h1 {
  font-family: 'Roboto';
  font-size: 8rem;
  font-weight: 800;
  color: #3a99c7;
}

.container {
  margin: 0 auto;
  max-width: 45rem;
}

#header {
  margin-bottom: 5rem;
}